body {
  width: 100%;
  background-image:url('../img/wavegrid.png');
}

#main_container {
  margin: 10px auto;
  width: 800px;
}

.heading {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-size: 50px;
}

table {
  margin: 0px auto;
  border-spacing: 10px;
}

.box_cell {
  border: 5px solid black;
  border-spacing: 99px;
  width: 150px;
  height: 150px;
  border-radius: 0px;
  opacity: .75;
  
}

.hover {
  background-color: #aaa;
}

.rob {
  background-image: '..assets/img/rob.jpg';
}

.blue {
  background-color: blue;
}